body {
  margin: 0 auto;
  padding: 0 auto;
}

/* .vl {
  border-left: 1px solid grey;
  height: 45px;
  position: absolute;
  left: 50%;
  /* margin-left: -3px; 
  top: 0;
  margin-top: .5em;
} */

.center-div {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  height: 24rem;
  justify-content: flex-start;
  align-content: center;
  /* padding: 10rem; */
}

/* .cards {
  align-items: center;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
} */

#top-border {
  border-top: 10px solid darkblue;
}

#first-nav-bot-margin {
  margin-bottom: 2rem;
}

.card {
  height: 18rem;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.center-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#last-nav {
  padding: 1rem;
}

.div-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}